// else...if
let x = 0;

const subscription = "medium"

if (subscription === "pro"){
    x = 100;
} else if(subscription === 'pro2') {
    x = 150
} else {
    x = 50;
}

console.log('x', x)